<app-top-nav></app-top-nav>

<app-city-splash></app-city-splash>

<app-blog-panel></app-blog-panel>

<app-contact></app-contact>

<app-cities-list (clickSender)="changeCity($event)"></app-cities-list>


<!-- ORGINAL BINDING
<app-top-nav [childSelectedCity]="masterSelectedCity"></app-top-nav>

<app-city-splash [childSelectedCity]="masterSelectedCity"></app-city-splash>

<app-blog-panel [childSelectedCity]="masterSelectedCity"></app-blog-panel>

<app-contact></app-contact> -->

<!-- <app-cities-list [childCityList]="masterCityList" (clickSender)="changeCity($event)"></app-cities-list> -->
