<!-- divs to be replaced by blog tile components -->


<div class="blogPanel">
  <div class="blogPanelHeader">
    <h2>The Latest</h2>
    <h4>IN {{cityToDisplay.name | uppercase}}</h4>

  </div>
  <div class="template">
    <app-blog-card>
      <h2>Best Restaurants in {{cityToDisplay.name}}</h2>
    </app-blog-card>
  </div>
  <div id="template1">
    <app-blog-card>
      <h2>New Restaurants and Bars in {{cityToDisplay.name}}</h2>
    </app-blog-card>
  </div>
  <div id="template2">
    <app-blog-card>
      <h2>Hottest Restaurants and Bars in {{cityToDisplay.name}}</h2>
    </app-blog-card>
  </div>
  <div class="template3">
    <app-blog-card>
      <h2>Restaurants and Bars In {{cityToDisplay.name}}</h2>
    </app-blog-card>
  </div>
  <div class="template3">
    <app-blog-card>
      <h2>The 10 Best Things We Ate in {{cityToDisplay.name}}</h2>
    </app-blog-card>
  </div>
  <div class="template3">
    <app-blog-card>
      <h2>Best Mexican Restaurants in {{cityToDisplay.name}}</h2>
    </app-blog-card>
  </div>
  <div class="template3">
    <app-blog-card>
      <h2>Best Burgers in {{cityToDisplay.name}}</h2>
    </app-blog-card>
  </div>
  <div class="blogPanelFooter">
    <button type="button" name="button">MORE</button>
  </div>
</div>
