<div class="contact">
  <div class="iconList">
    <i class="fab fa-instagram fa-2x"></i>
    <i class="fab fa-twitter fa-2x"></i>
    <i class="fab fa-periscope"></i>
    <i class="fab fa-facebook-f fa-2x"></i>
    <i class="fab fa-snapchat fa-2x"></i>
    <i class="fab fa-pinterest-p fa-2x"></i>
    <i class="fab fa-tumblr fa-2x"></i>
    <i class="fab fa-youtube fa-2x"></i>
    <i class="fab fa-google-plus-g fa-2x"></i>
  </div>
  <div class="emailReg">
    <form>
      <p>GET GAZATS NEWSLETTER IN YOUR INBOX..</p>
      <label for="emailInput"></label>
      <input type="text" name="emailInput" value="" placeholder="ENTER YOUR EMAIL">
      <button type="submit" name="button">></button>

    </form>
  </div>

</div>
